.card:hover {
    background-color: rgba(24, 151, 255, 0.123);
    border: 1px solid rgb(0, 117, 250);
    transition: 0.3s;
}

.col-sm img,
.col-sm ion-icon {
    width: 3rem!important;
    margin: 0 0.5rem!important;
}

.col-sm ion-icon:hover {
    color: rgb(1, 134, 179);
    transform: scale(1.5);
    transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    width: 0%;
    background-color: #176ea8;
    z-index: 99;
}

.btn-info-2 {
    border: #176ea8 solid 1px!important;
    background-color: #0bf7ff10;
}

.list-group-item-custom {
    background-color: blue;
    border: 1px solid white;
    color: white;
}

.list-group-item-custom:hover,
.list-group-item-custom:focus,
.list-group-item-custom.active {
    background-color: blue;
    border: none;
}