.card:hover {
    background-color: rgba(24, 151, 255, 0.123);
    border: 1px solid rgb(0, 117, 250);
    transition: 0.3s;
}

.jumbotron:hover {
    background-color: #e1ebf7d5;
    transition: 0.3s;
}

.col-sm img,
.col-sm ion-icon {
    width: 3rem!important;
    margin: 0 0.5rem!important;
}

.col-sm ion-icon:hover {
    color: rgb(1, 134, 179);
    transform: scale(1.5);
    transition: 0.3s;
}

* {
    font-family: 'Ubuntu', sans-serif;
}